<div class="sign-up">

  <h2 class="heading-2--bold mb4">Sign Up</h2>

  <%= simple_form_for :users, :url => users_path do |f| %>
    <%= f.error_notification %>

    <%= f.input :first_name, 
        required: true, 
        autofocus: true, 
        input_html: { class:"input" }, 
        wrapper: false, 
        label_html: { class:"label" },
        placeholder: 'James' %>
    
    <%= f.input :last_name, 
        required: true, 
        autofocus: true, 
        input_html: { class:"input" }, 
        wrapper: false, 
        label_html: { class:"label" },
        placeholder: 'Smith' %>
    
    <%= f.input :email, 
        required: true, 
        input_html: { class:"input" }, 
        wrapper: false, 
        label_html: { class:"label" },
        placeholder: 'user@example.com' %>
  
      <%= f.input :password, 
          required: true, 
          input_html: { class:"input" }, 
          wrapper: false, 
          label_html: { class:"label" },
          placeholder: 'Enter your password' %>
  
      <%= f.input :password_confirmation, 
          required: true, 
          input_html: { class: "input" }, 
          wrapper: false, 
          label_html: { class: "label" },
          placeholder: 'Confirm your your password' %>

      <%= f.button :submit, "Sign up", class:"btn-transparent mt3" %>

  <% end %>
    
</div>