<% content_for :header do %>
<header class="products__intro">
  <h1 class="heading-2--dark">Choose Your Rice Wine</h1>
</header>
<% end %>

<main class="products">

  <% @products.each do |product| %>
    <div class="product border-light">

      <div class="product__thumb">
        <%= link_to image_tag(product.image.variant(resize: '300X500')), product_path(product) %>
      </div>

      <h3 class="product__title"><%= link_to product.title, product_path(product) %></h3>

      <p class="product__price"><%= number_to_currency(product.price) %></p>

      <% if can?(:crud, product) %>
        <div class="product__admin-btn">
          <%= link_to 'Edit', edit_product_path(product), class: "btn-transparent btn-transparent--small" %>
          <%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: "Are you sure ?" }, class: "btn-transparent btn-transparent--small" %>
        </div>
      <% end %>

    </div>
  <% end %>

</main>

