<% content_for :body_class, 'bg-light' %>

<main class="product-show">

  <figure class="product-show__image">
    <%= image_tag @product.image.variant(resize: '500X600') if @product.image.attached? %>
  </figure>

  <div class="product-show__right-column">

    <h1 class="product-show__title heading-1--dark"><%= @product.title %></h1>

    <div class="product-show__description">
      <h3 class="heading-2--dark">Description</h3>
      <p><%= @product.description %></p>
    </div>

    <div class="product-show__price-and-btn">
      <h4 class="product-show__price">
        <%= number_to_currency(@product.price) %>
      </h4>
    
      <div class="product-show__btn">
        <% if !current_user&.is_admin %>
          <%= button_to line_items_path(product_id: @product), class: 'product-show__btn-content btn-primary btn-primary--wide' do %>
            <span class="icon mr3">
              <i class="fa fa-shopping-cart fa-2x"></i>
            </span>
            <span>Add to cart</span>
          <% end %>
        <% end %>

        <% if current_user&.is_admin %>   
          <%= link_to 'Edit', edit_product_path(@product), class: "btn-primary btn-primary--wide mr3" %>

          <%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: "Are you sure ?" }, class: "btn-primary btn-primary--wide" %>
        <% end %>
      </div>
    </div>

  </div>

</main>