<%# Cart Items %>
<figure class="carts-left-items__image">
  <%= image_tag(line_item.product.image) %>
</figure>

<%= link_to line_item.product.title, product_path(line_item.product), class: "carts-left-items__name" %>

<p><%= line_item.quantity %></p>

<p><%= number_to_currency(line_item.product.price) %></p>

<p class="carts-left-items__total-price"><%= number_to_currency(line_item.total_price) %></p>

<%= link_to 'Remove', line_item_path(line_item), method: :delete, data: { confirm: "Are you sure? " }, class: "btn-transparent carts-left-items__remove-btn" %>