<!DOCTYPE html>
<html>
  <head>
    <title>RiceWineOnlineShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    
    <script src="https://js.stripe.com/v3/"></script>

  </head>

  <body class="<%= yield (:body_class) %>">
  <div class="grid-container">
    <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>


    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar__brand">
        <%= link_to root_path, class:"navbar__logo" do %>
          <%# <h1 class="title white is-5">Let's Drink!</h1> %>

          <%# <%= image_tag "rice_wine_logo_5.png", alt: "rice wine logo", class: "navbar__logo" %> %>
        <% end  %>
      </div>

      <div class="navbar__list">
        <%= link_to "Instructions", "/instructions", class:"navbar__item" %>
        <%= link_to "Shop", products_path, class:"navbar__item" %>
        <% if user_signed_in? %>
          <%# Link to : Add Product, only available to ADMIN USER %>
          <% if current_user.is_admin %>
            <%= link_to "Add Product", new_product_path, class:"navbar__item" %>
          <% end %>

          <%# Link to : Shopping Cart Show Page, only available to CUSTOMER USER %>
          <% if !current_user.is_admin %>
            <%= link_to cart_path(@current_cart), class:"navbar__item cart" do %>
            <span class="icon is-small mr2">
              <i class="fa fa-shopping-cart"></i>
            </span>
            <span class="cart__text">Cart
              <span class="cart__count"><%= count_cart_item_totals %></span>
            </span>
            <% end %>
          <% end %>
          
          <p class="navbar__item">Hello, <%= current_user.full_name %></p>
          <%= link_to "Sign Out", sessions_path, method: :delete, data: {confirm: "Are you sure you want to log out?"}, class:"navbar__item" %>
          
        <% else %>
          <%= link_to "Sign In", new_session_path, class:"navbar__item" %>
          <%= link_to "Sign Up", new_user_path, class:"navbar__item"%>
        <% end %>
      </div>

      <button class="navbar__menu-btn" onclick="openDrawer()">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </nav>

    <div class="navbar-shadow">&nbsp;</div>
    <%# <aside class="drawer" id="drawer">
      <div class="drawer__overlay"></div>
      <div class="drawer__wrapper">
        <div class="drawer__header">
          <h4 class="drawer__title">Hello There!</h4>
          <button class="drawer__close" onclick="closeDrawer()">X</button>
        </div>
        <div class="drawer__content">
          <p>Test1</p>
          <p>Test2</p>
          <p>Test1</p>
          <p>Test2</p>
          <p>Test1</p>
          <p>Test2</p>
          <p>Test1</p>
          <p>Test2</p>
          <p>Test1</p>
          <p>Test2</p>
        </div>
      </div>
    </aside> %>

    <%= yield(:header) %>

    <%= yield %>

    <footer class="footer on-top-of-video">
      <ul class="nav">
        <li class="nav__item">
          <a href="#" class="nav__link">About us</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">FAQ</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Shipping & Refunds</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Store Policy</a>
        </li>
      </ul>
      <ul class="sns">
        <li class="sns__item">
          <a href="#"><i class="fa fa-facebook-official sns__icon" aria-hidden="true"></i></a>
        </li>
        <li class="sns__item">
          <a href="#"><i class="fa fa-twitter sns__icon" aria-hidden="true"></i></a>
        </li>
        <li class="sns__item">
          <a href="#"><i class="fa fa-instagram sns__icon" aria-hidden="true"></i></a>
        </li>
      </ul>
      <p class="copyright">
        &copy; Copyright 2020 by Daseul Chun. All rights reserved. 
      </p>
    </footer>
  </div>

  </body>

</html>
