<!DOCTYPE html>
<html>
  <head>
    <title>RiceWineOnlineShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap" %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    
    <script src="https://js.stripe.com/v3/"></script>

  </head>

  <body class="<%= yield (:body_class) %>">
  <div class="grid-container">
    <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>


    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar__brand">
        <%= link_to products_path, class:"navbar__logo" do %>
          <h1 class="title white is-5">Let's Drink!</h1>
        <% end  %>
      </div>

      <div class="navbar__list">
        <%= link_to "Instructions", "/instructions", class:"navbar__item" %>
        <%= link_to "Contact", products_path, class:"navbar__item" %>
        <% if user_signed_in? %>
          <%# Link to : Add Product, only available to ADMIN USER %>
          <% if current_user.is_admin %>
            <%= link_to "Add Product", new_product_path, class:"navbar__item" %>
          <% end %>

          <%# Link to : Shopping Cart Show Page, only available to CUSTOMER USER %>
          <% if !current_user.is_admin %>
            <%= link_to cart_path(@current_cart), class:"navbar__item" do %>
            <span class="icon is-small">
              <i class="fa fa-shopping-cart"></i>
            </span>
            <span>Cart
              <%= count_cart_item_totals %>
              </span>
            <% end %>
          <% end %>
          
          <p class="navbar__item">Hello, <%= current_user.full_name %></p>
          <%= link_to "Sign Out", sessions_path, method: :delete, data: {confirm: "Are you sure you want to log out?"}, class:"navbar__item" %>
          
        <% else %>
          <%= link_to "Sign In", new_session_path, class:"navbar__item" %>
          <%= link_to "Sign Up", new_user_path, class:"navbar__item"%>
        <% end %>
      </div>
    </nav>

    <%= yield(:header) %>

    <%= yield %>

  </div>

  </body>

</html>
